 <!-- Book Section -->
    <section class="success" id="book">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Piersią spoko</h2>
                    <hr class="spacer">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <img class="book-cover" src="/img/book.png" />
                </div>
                
                <div class="col-md-6">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt magna ac tortor venenatis laoreet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
                    </p>
                    <p>
                        Vivamus vitae ligula nulla. Suspendisse ut tincidunt libero. Quisque molestie risus at eros tempus, vel facilisis neque finibus. Praesent eu malesuada libero. Cras fermentum sit amet nunc vel eleifend. Nulla malesuada libero lorem, sed eleifend augue vulputate ac. Duis eu leo nec libero ultrices fermentum eget non velit.
                    </p>

                </div>

                <div class="col-md-6 col-lg-offset-5 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        Kup teraz
                        <i class="fa fa-shopping-cart"></i> 
                    </a>
                </div>
            </div>
        </div>
    </section>
