 <!-- Book Section -->
    <section class="success" id="book">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Piersią spoko</h2>
                    <hr class="spacer">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <img class="book-cover" src="/img/book.png" />
                </div>
                
                <div class="col-md-7">
                    <p> Gdy byłam w ciąży ze swoim pierwszym dzieckiem, zapytałam doświadczoną już mamę:<p> 
                        
                    <p class="citation">Jak się karmi piersią?</p>
                   
                    <p>Odpowiedziała zdziwiona:</p> 
                    
                    <p class="citation">No jak to jak? Normalnie!”</p>
                    
                    <p>
                        I ta książka jest właśnie o tym, że karmienie piersią jest normalne. Nie jest to książka o <span class="italics">sztuce karmienia piersią</span>, o <span class="italics">heroicznym macierzyństwie</span>, ani o tym, co jest <span class="italics">trendy</span>, ale o tym, co naturalne i normalne. Normalne, czyli – jak mówią moi synowie – <b>spoko</b>.
                    </p> 
                        
                    <p>
                        <span class="italics">(...) dziś, gdy odeszliśmy od natury tak daleko i rozluźniliśmy łączące nas z przyrodą więzy, nawet takie naturalne czynności jak karmienie piersią wymagają od nas pewnej wiedzy i umiejętności. Także wiedzy o nas samych, o naszym ciele i naszej psychice. Książka ta ma pomóc młodym matkom i ich rodzinom w zdobyciu tej wiedzy i tych umiejętności, w poznaniu siebie i odnalezieniu się w nowej życiowej roli. (wstęp)</span>                    
                    </p>
                </div>

                <div class="col-sm-12 text-center">
                    <a href="https://www.wydawnictwofides.pl/book,2.html" target="_blank" class="btn btn-lg btn-outline">
                        Kup teraz
                        <i class="fa fa-shopping-cart"></i> 
                    </a>
                </div>
            </div>
        </div>
    </section>
