<div class="contact">
  <div class="row row-no-padding">
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="left">
            <h2>Skontaktuj się ze mną</h2>
            <p>Odpowiem na wszystkie Twoje pytania</p>
            <a
              href="{{ site.fb_url }}"
              target="_blank"
              rel="nofollow noopener noreferrer"
              class=""
            >
              <i class="fa fa-fw fa-facebook"></i><span>Malwina Okrzesik Narodziny</span>
            </a>
            <a
              href="mailto:kontakt@malwinaokrzesik.pl"
              target="_blank"
              rel="nofollow noopener noreferrer"
              class=""
            >
              <i class="fa fa-fw fa-envelope"></i><span>kontakt@malwinaokrzesik.pl</span>
            </a>
            <a href="tel:+48502127588" target="_blank" class="" rel="nofollow noopener noreferrer">
              <i class="fa fa-fw fa-phone"></i><span>+48 502 127 588</span>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-xs-12">
          <div class="right">
            <ul>
              <li>Umówimy się na poradę</li>
              <li>Odpowiem na pytania o Szkole Rodzenia</li>
              <li>Przedstawię ofertę szkoleń</li>
            </ul>
            <a class="btn btn-md btn-outline" href="/oferta">Sprawdz ofertę</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
