    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/malwina_square4.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Malwina Okrzesik</span>
                        <hr class="spacer" />
                        <span class="skills">Konsultantka laktacyjna - Psycholożka - Mama</span>
                    </div>
                </div>
            </div>
        </div>
    </header>