<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width" />

  <title>
    {% if page.title %}Malwina Okrzesik IBCLC - {{ page.title }}{% else %}{{ site.title }}{% endif %}
  </title>
  
  <meta name="description" property="og:description" content="{% if page.description %}{{ page.description }}
  {% else %}{{ site.description }}{% endif %}" />
  <meta name="keywords" content="{{ site.keywords }}" />                                    
  <meta name="author" content="{{ site.meta_author }}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />
  
  <!-- Open Graph -->
  <meta property="og:image" content="{% if page.img %}{{ site.url | append: '/img/posts/' | append: page.img }}{% else %}{{ site.url | append: site.image }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:title" content="{% if page.title %}Malwina Okrzesik IBCLC - {{ page.title }}{% else %}{{ site.title }}{% endif %}" />
           
  <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "Malwina Okrzesik Narodziny",
    "url": "{{ site.url }}",
    "address": "",
    "sameAs": [
      "{{ site.fb_url }}"
    ]
  }
  </script>

  <!-- Custom CSS & Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" }}"> <link
  rel="stylesheet" href="{{ "/css/main.css" }}">

  <!-- favicon -->
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <link rel="icon" href="/favicon.ico" type="image/x-icon" />

  <!-- Google verification -->
  {% if site.google_verify %}
  <meta name="google-site-verification" content="{{ site.google_verify }}" />
  {% endif %}

  <!-- Bing Verification -->
  {% if site.bing_verify %}
  <meta name="msvalidate.01" content="{{ site.bing_verify }}" />
  {% endif %}

  <!-- Custom Fonts -->
  <link rel="stylesheet" href="{{ "/css/font-awesome/css/font-awesome.min.css" }}">
  <link
    href="//fonts.googleapis.com/css?family=Montserrat:400,700&display=swap"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="//fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&display=swap"
    rel="stylesheet"
    type="text/css"
  />

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
