<!-- Parents section -->
<section id="parents">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Dla rodziców</h2>
                <hr class="spacer">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="/img/parents.small.jpg" alt="Malwina Okrzesik doradza mamie z dzieckiem" />
            </div>
            
            <div class="col-md-10 col-md-offset-1 columns">
                <p>
                    Prowadzę prywatną szkołę rodzenia wraz z poradnią laktacyjną <a href="https://www.szkolarodzenia.bielsko.eu/" target="_blank" rel="nofollow noopener noreferrer">Pod Szyndzielnią</a>. 
                    Jestem współautorką poradnika dla mam karmiących <a href="#book">Piersią spoko</a>. 
                    Pracuję  na Oddziale Patologii Noworodka Szpitala Wojewódzkiego w Bielsku-Białej.
                    Udzielam <a href="/porady/2020/03/24/konsultacja-laktacyjna-online/">konsultacji laktacyjnych online</a>. 
                    Szczegółową ofertę znajdziesz <a href="/oferta">tutaj.</a>
                </p>
            </div>

                {% include contactBtn.html %}
                
        </div>
    </div>
</section>