<!-- Parents section -->
<section id="parents">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Dla rodziców</h2>
                <hr class="spacer">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="/img/parents.jpg" />
            </div>
            
            <div class="col-md-10 col-md-offset-1 columns">
                <p>
                    Prowadzę prywatną szkołę rodzenia wraz z poradnią laktacyjną 
                    <a href="https://www.szkolarodzenia.bielsko.eu/" target="_blank">Pod Szyndzielnią</a>. Jestem współautorką poradnika dla mam karmiących 
                    <a href="#book">Piersią spoko</a> (wyd. Fides, 2005). Pracuję  na Oddziale Patologii Noworodka
                    Szpitala Wojewódzkiego w Bielsku-Białej.
                </p>
            </div>

            <div class="col-sm-12 text-center">
                <a href="tel:+48502127588" class="btn btn-lg btn-outline">
                    Kontakt
                    <i class="fa fa-phone"></i> 
                </a>
            </div>

        </div>
    </div>
</section>