<!-- Parents section -->
<section id="parents">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Dla rodziców</h2>
                <hr class="spacer">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <img src="/img/parents.small.jpg" loading="lazy" alt="Malwina Okrzesik doradza mamie z dzieckiem" />
            </div>
            
            <div class="col-md-10 col-md-offset-1 columns">
                <p>
                    Zajmuję się przygotowaniem do porodu oraz wsparciem w karmieniu piersią i rozwiązywaniu problemów laktacyjnych.
                    Udzielam konsultacji w formie porad stacjonarnych, wizyt domowych oraz telefonicznie i <a href="/porady/2020/03/24/konsultacja-laktacyjna-online/">online</a>. 
                    Pracuję również z personelem medycznym nad rozwijaniem umiejętności komunikacyjnych i radzenia sobie w sytuacjach trudnych.
                    Szczegółową ofertę znajdziesz <a href="/oferta">tutaj.</a>
                </p>
            </div>

                {% include contactBtn.html %}
                
        </div>
    </div>
</section>