<!-- Article section -->
<section class="article">
    <div class="container">
        {% if page.img %} 
        <div class="row">
            <img class="main-img" src="{{ page.img | prepend: '/img/posts/' }}" alt="{{ page.img_alt }}"/>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ page.title }}</h2>
                <hr class="spacer">
                <!-- <span class="skills">
                    {% if page.author %}{{ page.author }}{% else %}{{ site.meta_author }}{% endif %}
                    {% if page.date %} - {{ page.date | date: "%Y-%m-%d" }} {% endif %}
                </span> -->
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 columns">
                {{ content }}
            </div>
        </div>
    </div>
</section>