#book {
    .italics {
        font-style: italic;
    }

    p {
        text-align: justify;
        font-size: 23px;
        line-height: 33px;
        margin-bottom: 10px;

        &.citation {
            text-align: center;
            font-style: italic;
        }
    }

    img {
        margin: auto;    
        display: block;
        max-width: 100%;
        margin-bottom: 30px;
    }
}