.contact-btn {
  color: $pink;
  border-color: $pink;

  &:hover {
    background-color: $pink;
    color: white;
  }
}

.contact {
  padding-left: 0;
  padding-right: 0;

  .left {
    color: $pink;

    h2 {
      text-transform: none;
      margin: 0;
      font-size: 18px;
    }

    p {
      font-size: 18px;
    }

    a {
      display: block;
      padding: 15px 0;

      i {
        display: inline-block;
        font-size: 22px;
        width: 30px;
        text-align: center;
        margin-left: 20px;
      }
      span {
        display: inline-block;
        margin-left: 10px;
      }
    }
  }

  .right {
    padding: 45px 5px;

    li {
      padding: 10px 5px;
      font-size: 18px;
    }
  }
}

#contactModal {
  .modal-content {
    overflow: hidden;
  }

  .modal-body {
    padding: 0;
  }

  .row-no-padding {
    margin-left: 0;
    margin-right: 0;
    [class*="col-"] {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
  }

  .left {
    padding: 30px;
    padding-left: 50px;
  }

  .right {
    background-color: $green;
    padding-left: 20px;

    color: white;
  }
}
